
.w-90 {
    width: 90%
}

.btn-btn-primary {
padding: 10px 60px;
margin-right: 5px;
border-radius: 5px;
background-color: rgb(32, 152, 231);
color: #fff;
text-decoration: none;
} 

.btn-tn-primary {
padding: 10px 20px;
margin-right: 5px;
border-radius: 5px;
background-color: #fff;
color: rgb(32, 152, 231);
text-decoration: none;
}

.btn-n-primary {
padding: 10px 20px;
margin-right: 5px;
border-radius: 5px;
background-color: #fff;
color: rgb(32, 152, 231);
text-decoration: none;
border-color: rgb(32, 152, 231);
}

.carted {
    padding-right: 20px;
    padding-left: 20px;
}

.comments p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: black;
}



@media only screen and (max-width: 767px) {
/* styles for mobile devices */
.btn-btn-primary {
padding: 10px 120px;
margin-right: 5px;
border-radius: 5px;
background-color: rgb(32, 152, 231);
color: #fff;
text-decoration: none;
} 

.btn-tn-primary {
padding: 10px 20px;
margin-right: 5px;
border-radius: 5px;
background-color: #fff;
color: rgb(32, 152, 231);
text-decoration: none;
}

.btn-n-primary {
padding: 10px 20px;
margin-right: 5px;
border-radius: 5px;
background-color: #fff;
color: rgb(32, 152, 231);
text-decoration: none;
border-color: rgb(32, 152, 231);
}


}
@media only screen and (max-width: 540px) {
/* styles for tablets and larger screens */
.btn-btn-primary {
padding: 10px 200px;
margin-right: 5px;
border-radius: 5px;
background-color: rgb(32, 152, 231);
color: #fff;
text-decoration: none;
} 

.btn-tn-primary {
padding: 10px 20px;
margin-right: 5px;
border-radius: 5px;
background-color: #fff;
color: rgb(32, 152, 231);
text-decoration: none;
}

.btn-n-primary {
padding: 10px 20px;
margin-right: 5px;
border-radius: 5px;
background-color: #fff;
color: rgb(32, 152, 231);
text-decoration: none;
border-color: rgb(32, 152, 231);
}


}


/* Left Column */
.left-column img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }
   
  .left-column img.active {
    opacity: 1;
  }

  /* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
  }
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }

  


